.App {
  padding: 10rem;
}

.employee-card {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
}

.employee-roles {
  margin-top: 1rem;
}

.employee-roles__list {
  margin: 0;
  padding-left: 1rem;
}

